*
{
  margin:0;
  padding:0;
}
html{
    
    background-color: #4aaaa5;
}
#master{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    top: 0;
    margin: 0 auto;
    max-width: 960px;
    background-image: url("../images/circles-light.png");
    border:none;
}

h1{
    padding:1em;
    margin-left: 70px;
    color: white;
    text-align: center;
    width: auto;
    background-color: #4aaaa5;
    float: left;
    border:none;
    
}
header{
    max-height: 140px;
    overflow: hidden;
    font-family: 'Georgia', Times, serif;
    width: 100%;
    background-color: #ffffff;
    height: 70px;
    min-height: auto;
    max-height: auto;
    border-bottom: 1px solid;
    border-color: #cccccc;   
}
nav{
    overflow: hidden;
    font-size: 16px;
    float: right;
    margin-top: 35px;
    margin-right: 70px;
}
nav li{
    display: inline;
    padding: 0.25em;
    border-right: 0.5px solid;
    border-color: #cccccc
}
nav li:last-child{
    border-right: 0px;
}
nav a {
    text-decoration: none;
    color: #fff;
    display: inline;
    padding-left: 2px;
    transition: .3s background-color;
  }
nav a{
    color: #cccccc;
    text-decoration: none;
}
nav a:hover{
    color:#868383;
}
nav a:active{
    color: #868383;
}

article{

    overflow: hidden;
    margin: 15px 55px 0px 55px;
    
}
/* h2 is the article header */
h2{
    margin-top: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    color: #4aaaa5;
    margin-left: 15px;
}
main{
    text-justify: auto;
    margin: 16px;
    padding:1em;
    overflow: auto;
    border:0.5px solid;
    border-color: #dddddd;
    background-color: #ffffff;
}
main p{
    margin-top: 16px;
    text-justify: auto;
}

main img{
    margin: 16px;
    float: left;
}
main section{
    
    text-align: center;
    margin-left: 20px;
    padding: 0.2em;   
}

main section address{
    position: absolute;
    
}

footer{
    overflow: hidden;
    bottom: 0;
    height: 2rem;
    background-color: #666666;
    text-align: center;

}
footer p{
    margin-top:1rem;
}
/*below is all the css for the contact me page*/
*{
box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #52bbb6;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
